{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
  <h1>My Blog</h1>
  {% for post in posts %}
    <h2>
      <a href="{% url 'blog:post_detail' post.id %}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}
{% endblock %}

<!--  
With the {% extends %} template tag, you tell Django to inherit from the blog/base.html template. 
Then, you fill the title and content blocks of the base template with content. You iterate through 
the posts and display their title, date, author, and body, including a link in the title to the detail URL 
of the post. We build the URL using the {% url %} template tag provided by Django.

This template tag allows you to build URLs dynamically by their name. We use blog:post_detail to 
refer to the post_detail URL in the blog namespace. We pass the required post.id parameter to 
build the URL for each post.
-->